<body>
    <div class="container-fluid">
        <form class="form-signin span8" id="user_form" method="post" action="">
            {% csrf_token %}
            <!-- Display the search form elements here -->
            <input type="text" size="50" name="query" value="" id="query" />
            <input class="btn btn-primary" type="submit" name="submit" value="Search" placeholder="Put Search"/>
            <br />
        </form>
        
        <p>test1</p>
        <p>{{results3}}</p>
        
        <!--
        <p>test1</p>
        <p>{{link}}</p>
        <p>test2</p>
        
        
        <p>test2</p>
        <div style="clear: both;">
            <ol>
            {% for result in results2 %}
                <li>
                    <strong><a href="{{ result.link }}">{{ result.title }}</a></strong><br />
                    <em>{{ result.summary }}</em>
                </li>
            {% endfor %}
            </ol>
        </div>
        -->
        <!-- {% if result_list %} -->
        <!-- Display search results in an ordered list -->
        
        <!--{% endif %}-->
    </div>
</body>